# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logging
*.log
DoxygenWarningLogs.txt
Doxyfile.in

# Folders
data/PowerGrids/IEEE/*
data/PowerGrids/PyPSA/*
data/PowerGrids/SciGrid/*
data/Windfarms/Networks/*
documentation/html/*
documentation/latex/*
documentation/Doxyfile
external/*
build-debug/*

# OS specific files
.DS_STORE

# IDE specific files
egoa.sublime-workspace

# GitHub Codespace specific files
out/*
